<% reply_links = authorize_for('issues', 'edit') -%>
<%= render :partial => 'journals/change', :collection => journals, :as => :journal, :locals => {:reply_links => reply_links} %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
